body {
    font-family: 'Helvetica', 'Arial', sans-serif; /* Fonte padrão do Facebook */
    background-color: #e9ebee; /* Fundo cinza claro */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px; /* Mantém a largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
    background-color: white; /* Fundo branco para o container */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra suave */
}

.title {
    text-align: center;
    font-size: 24px; /* Tamanho da fonte */
    color: #4267b2; /* Azul do Facebook */
    margin-bottom: 20px;
    font-weight: bold;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Menos espaçamento */
}

.cep-input {
    flex: 1; /* Ocupar espaço disponível */
    padding: 12px;
    border: 1px solid #dddfe2; /* Cinza claro */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 1rem;
    background-color: #f5f6f7; /* Fundo claro típico do Facebook */
    transition: border 0.3s, box-shadow 0.3s;
}

.cep-input:focus {
    border-color: #4267b2; /* Azul do Facebook */
    box-shadow: 0 0 8px rgba(66, 103, 178, 0.5); /* Sombra azul */
    outline: none;
}

.cep-button {
    padding: 12px 20px;
    background-color: #4267b2; /* Azul do Facebook */
    color: white;
    border: none;
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.cep-button:hover {
    background-color: #365899; /* Azul mais escuro ao passar o mouse */
    transform: scale(1.05);
}

.result {
    background: white; /* Fundo branco */
    padding: 15px;
    border: 1px solid #dddfe2; /* Borda cinza claro */
    border-radius: 4px; /* Bordas arredondadas */
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
    text-align: center;
    color: #1c1e21; /* Cor escura típica do texto do Facebook */
}

.result-title {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #4267b2; /* Azul do Facebook */
    font-weight: bold;
    margin-bottom: 10px;
}

.historico {
    margin-top: 40px;
}

.historico-title {
    font-size: 1.5rem;
    color: #1c1e21; /* Cor escura */
    margin-bottom: 15px;
    text-align: center;
}

.historico-item {
    background: #f5f6f7; /* Fundo cinza claro */
    padding: 10px;
    border: 1px solid #dddfe2; /* Borda cinza claro */
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s;
    font-weight: bold;
    color: #1c1e21; /* Cor escura */
}

.historico-item:hover {
    background-color: #e1e2e6; /* Escurece ao passar o mouse */
}
